<form action="/Check" method="POST">
  <h2>Food and derivative</h2>

  <div class="input-field">
      <input type="text" name="title">
      <label> something </label>
  </div>
  <button type="submit" class="btn">Check</button>
</form>

